@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.video-wrapper {
  position: relative;
  padding-top: 56.25%; /* Relación de aspecto 16:9 */
  height: 0;
  overflow: hidden;
}

.video-wrapper iframe,
.video-wrapper .react-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Estilos para los selectores del menú semanal */
select option {
  color: black !important;
  background-color: white !important;
}

select:focus option:checked {
  color: black !important;
  background-color: #e5e7eb !important;
}

select:focus option:hover {
  color: black !important;
  background-color: #f3f4f6 !important;
}